@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* General Styling */
.adoptimize-container {
    position: relative;
    background-color: #efe8e1;
    height: 100%;
}

/* General Image Styling*/
.image-wrapper {
    height: 60%;
}

.image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

@media screen and (min-width: 400px) {
    .image {
        height: 40%;
    }
}

/* General Content Styling*/
.content-wrapper {
    padding: 10px
}


/* General Text Styling*/
h1, h2, h3, h4, h5, h6, p, span {
    padding: 0;
    margin: 0;
}

.ad-title {
    color: rebeccapurple;
}

.ad-subtitle {
    margin-top: 10px;
}